<div class="btn-group float-right" role="group" aria-label="Basic example">
  
  <button *ngIf="btnNew" type="button" class="btn btn-success btn-xs" (click)="new()" data-toggle="tooltip"
    title="New"><i class="fa fa-files-o" aria-hidden="true"></i></button>

  <a *ngIf="btnPrint" class="btn btn-primary" href="javascript:void(0)" (click)="print()" data-toggle="tooltip"
    title="Print to PDF"><i class="fa fa-print" aria-hidden="true"></i></a>

  <button *ngIf="btnRefresh" type="button" class="btn btn-secondary btn-xs" (click)="refresh()" data-toggle="tooltip"
    title="Refresh grid"><i class="fa fa-refresh" aria-hidden="true"></i></button>

  <button *ngIf="btnSave" type="button" class="btn btn-warning btn-xs" (click)="saveTable()" data-toggle="tooltip"
    title="Save data"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>

  <!-- <a *ngIf="btnSave" class="btn btn-warning " href="javascript:void(0)" (click)="saveTable()" data-toggle="tooltip"
    title="Save data"><i class="fa fa-floppy-o" aria-hidden="true"></i></a> -->

  <button *ngIf="btnExport" type="button" class="btn btn-success btn-xs" (click)="export()" data-toggle="tooltip"
    title="Export to Excel"><i class="fa fa-file-text-o" aria-hidden="true"></i></button>

  <button *ngIf="btnReload" type="button" class="btn btn-warning btn-xs" (click)="reload()" data-toggle="tooltip"
    title="Reload from DB"><i class="fa fa-database" aria-hidden="true"></i></button>


  <!-- 
    <button *ngIf="btnExport" type="button" class="btn btn-success " (click)="export(columnDefs, strList)"
    placement="top" tooltip="Esporta griglia in CSV"><i class="fa fa-file-text-o" aria-hidden="true"></i></button>

  <div *ngIf="btnGridCols" class="btn-group btn-group-sm" dropdown #dropdown="bs-dropdown" [autoClose]="false"
    placement="top" tooltip="Gestione colonne">
    <button type="button" class="btn btn-danger "><i class="fa fa-list" aria-hidden="true"></i></button>
    <button id="button-split" type="button" dropdownToggle
      class="btn btn-danger  dropdown-toggle dropdown-toggle-split" aria-controls="dropdown-split">
      <span class="caret"></span>
      <span class="sr-only">Split button!</span>
    </button>
    <ul id="dropdown-split" *dropdownMenu class="dropdown-menu scrollable-menu" role="menu"
      aria-labelledby="button-split">
      <li *ngFor='let item of columnDefs' role="menuitem"><span class="dropdown-item">
          <input *ngIf="!item.default" type="checkbox" name="{{item.field}}" class="form-check-input" id="exampleCheck1"
            [checked]='!item.hide' (click)='clickCheckBox(item)'>
          <label class="form-check-label" for="exampleCheck1">{{item.headerName}}</label>
        </span></li>
    </ul>
  </div>



  <a *ngIf="btnReload" class="btn btn-info " href="javascript:void(0)" (click)="restore(columnDefs)" placement="top"
    tooltip="Ripristina"><i class="fa fa-undo" aria-hidden="true"></i></a>

  <a *ngIf="btnSaveSettings" class="btn btn-warning " href="javascript:void(0)" (click)="saveSettings(strList)"
    placement="top" tooltip="Salva settings"><i class="fa fa-floppy-o" aria-hidden="true"></i></a>

  <a *ngIf="btnNew" class="btn btn-success " href="javascript:void(0)" (click)="openModalAddEdit()" placement="top"
    tooltip="Nuovo"><i class="fa fa-files-o" aria-hidden="true"></i></a> -->
</div>