.card{
  margin-top: 10px;
}

.scrollable-menu {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
}

.dropdown-toggle{
  font-size: small;
}

tr:nth-child(even) {background: #EEE}
tr:nth-child(odd) {background: #FFF}

th,tr{
    height: 30px;
    font-size: 12px;
    font-family: 'Roboto';
}


td{
    width: 150px;
}